 <head>
   <title></title>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
            type="text/javascript"></script>
      <link href="/statics/youlister.css?UOIYY" rel=
            "stylesheet" type="text/css">
 </head>
 <body>

<h1>VIDEOS OF THE WORLD</h1>

 <div id="menu">
   <ul id="onglets">
     <li class="{% if active=='count' %}>active{% endif %}"><a href="/">C'est de la bombe bébé</a></li>
     <li class="{% if active=='updated_at' %}>active{% endif %}">
       <a href="/?orderBy=updated_at">Ça vient de tomber</a></li>
     <li ><a href="/?page={{random_page}}">Surprends moi lapin</a></li>
     <li ><a href="https://www.youtube.com/watch?v={{random_video}}">Russian Roulette</a></li>
     <li class="search"><input id="search_field"
     class="search-container" type="text"  placeholder="viens chercher
     bonheur..." value="{{search}}">
       <button id="search_button" class="btn btn-primary" type="submit"
            onclick="search()"><span class="fa
                                      fa-search"></span></button>
     </li>
   </ul>
 </div>

<div class="corps">



<!-- <table> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th>Nom</th> -->
<!--       <th>Thumbnail</th> -->
<!--       <th></th> -->
<!--       <th></th> -->
<!--       <th></th> -->
<!--     </tr> -->
<!--   </thead> -->

<!--   <tbody> -->
      {% for video in videos %}

      <div class="thumbnails" style="background-image:url('http://i.ytimg.com/vi/{{video.youID}}/0.jpg')";>
	<div class="count">{{video.count}}</div>
	
	<div class="title">
<p>{{video.title}}</p>
	  <a href= "https://www.youtube.com/watch?v={{video.youID}}"> </a>

	</div>
      </div>
      
      
      <!-- <tr> -->
      <!--   <td><%= link_to video.title, "https://www.youtube.com/watch?v="+video.youID %></td> -->
      <!--   <td><%= image_tag("http://i.ytimg.com/vi/"+video.youID+"/0.jpg")  %></td> -->
      <!-- 	<td> -->
      <!-- 	  <% Login.find_all_by_youID(video.youID).each do |nick|  %> -->
      <!-- 	    <div><%=nick.name%> -->
      <!-- 	      <%= nick.count%></div> -->
      <!-- 	  <% end %> -->
      <!-- 	</td> -->
      <!-- 	<td><%= video.count %></td> -->
      <!-- 	<td><%= link_to 'Show', video %></td> -->
      <!--   <td><%= link_to 'Edit', edit_video_path(video) %></td> -->
      <!--   <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr> -->
    
              {% endfor %}
<!--   </tbody> -->
    <!-- </table> -->

</div>
<div class="pagination">
 {% if page>0 %} <a href="#" onClick="prev();" >Prev</a>{% endif %}
 {% if page!=pageNumber %}<a href="#" onClick="next();" >Next</a>{% endif %}
</div>
</div>

<br>
</body>
    <script type="text/javascript">  
      var positionElementInPage = $("#menu").offset().top;
      $(window).scroll(
        function() {
          if ($(window).scrollTop() >= positionElementInPage) {
            // fixed
            $('#menu').addClass("floatable");
          } else {
            // relative
            $('#menu').removeClass("floatable");
          }
        }
      );

      document.querySelector("#search_field").addEventListener("keyup", event => {
        if(event.key !== "Enter") return; // Use `.key` instead.
        search()
        event.preventDefault(); // No need to `return false;`.
      });
      
      function getInteger(str) {
        if (str == null) {
          return parseInt(0);
        } else {
          return parseInt(str);
        }
      }
      function search(){
        searchvalue = document.getElementById('search_field').value
        const myUrl = new URL(window.location.href);
        myUrl.searchParams.set('page', 0);
        myUrl.searchParams.set('search', searchvalue);
        window.location.href=myUrl.href
      }
      function next(){
        const myUrl = new URL(window.location.href);
        pageid = getInteger(myUrl.searchParams.get('page'))+1;
        myUrl.searchParams.set('page', pageid);
        window.location.href=myUrl.href
      }
      function prev(){
        const myUrl = new URL(window.location.href);
        pageid = getInteger(myUrl.searchParams.get('page'))-1;
        myUrl.searchParams.set('page', pageid);
        window.location.href=myUrl.href
      }


    </script>
