//= depend_on_asset "../images/header_picto_recherche.svg"
//= depend_on_asset "../fonts/Josefin_Sans/JosefinSans-Regular.ttf"

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('<%= asset_path 'Josefin_Sans/JosefinSans-Regular.ttf'%>') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('<%= asset_path 'Josefin_Sans/JosefinSans-Bold.ttf'%>') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.thumbnails {
    display: inline-block;
    width: 480px; 
    height: 360px;
    margin: 6px;
    z-index: 0;
}


.title {
    color: white;
    text-align:right;
    font-size: 20px;
    position: relative;
    height: 56%

 }
.title p{
    background-color:rgba(0, 0, 0, 0.6);
    padding: 14px;
    font-family: "JosefinSans-Regular";
    position: absolute;
    bottom: -19px;
    right: 0px;
    width: 452px;
}

.count {
    color: white;
    text-align:right;
    font-size: 188px;
    opacity:0.8;
    line-height: 152px;
    font-family: "JosefinSans-Regular";
    overflow: hidden;
}

h1 {
    color: #F0F0F0;
    background-color:rgba(0, 0, 0, 0.6);
    font-size: 60px;
    text-align:right;
    font-family: "JosefinSans-Regular";
    padding-bottom: 6px;
    padding-top: 22px;
}

body {
    background-color: #F0F0F0 !important;
    color: #535353;
    font-family: Georgia,Cambria,Times,serif;
    margin: 0 auto;
    font-family: "JosefinSans-Regular" !important;
}

.search{
text-align:right;
border: medium none;
position: relative;

}

#video_search {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}

#search_button {
    background: url("/statics/images/header_picto_recherche.svg")  no-repeat scroll right center rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 25px;
    overflow: hidden;
    padding: 25px 0 0;
    right: 3px;
    position:relative;
    text-indent: -999em;
    top: 24px;
    width: 25px;
}
#search_field {

    border: medium none;
    color: #333333;
    padding: 5px;
    width: 170px;
    display: block;
    border-radius: 3px 3px 0 0;
}


#search_field.empty {
    color: #999999;
}
#menu {
    padding-bottom : 25px;
    padding-top: 10px;
    z-index: 120;
    background: #F0F0F0;
    left: 0;
    right: 0;

}
#menu.floatable{
    position: fixed;
    top: 0px; // non-obligatoire

    
}
#onglets {

    list-style-type : none;
    border-bottom : 1px solid #000;
    margin-left : 0;
    overflow: hidden;
}

#onglets li
{
    float : left;
    height : 30px; /* Ã  modifier suivant la taille de la police pour centrer le texte dans l'onglet */
      margin : 2px 2px -1px 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px -1px 2px;  /* Pour IE  */
    border : 1px solid #000;
    border-radius: 4px 4px 0 0;
    background-color:rgba(0, 0, 0, 0.6);
}

#onglets li.active
{
    background-color: #33a0e6;
    border-bottom: 1px solid #f0f0f0;
    color: #fff ;
}
#onglets li.active a:hover
{
    background:rgba(255, 255, 255, 0);

}

#onglets li.search
{
  float: right;
  right:40px;
}

#onglets a
{
    color: #fff !important;
    display : block;
    text-decoration : none;
    padding : 6px;
    transition: background 300ms;
    font-family: "JosefinSans-Bold";
}

#onglets a:hover
{
   background:rgba(255, 255, 255, 0.3);
}

.pagination {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "JosefinSans-Regular";
    transition: background 300ms ease 0s;
    border: medium none #D2B48C;

}

.pagination a {
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 4px;
    color: #fff !important;
    text-decoration: none;
    font-family: "JosefinSans-Bold";
}

.pagination a:hover {
   background-color:rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 4px;

}

.pagination .current {
    border-radius: 4px;
    padding: 4px;
    color: #fff !important;
    background: #33a0e6 !important;
}
.pagination .disabled {
    border-radius: 4px;
    padding: 4px;
    color: #fff !important;
    background-color:rgba(0, 0, 0, 0.2);
}


.title a {
    color: white !important;
    text-decoration : none;
    display: block;
    width: 480px; 
    height: 360px;
    bottom: 153px;
    z-index: 15;
    position: relative;
    -ms-transition: background-color 300ms;
    transition: background-color 300ms;
}

.title a:hover {
    background-color:rgba(0, 0, 0, 0.4);
}



.corps {
text-align: center;
}
